<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-heading">P&aacute;ginas</li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="@Url.Action("Index", "Products")">
                <i class="bi bi-controller"></i>
                <span>Productos</span>
            </a>
        </li><!-- End Products Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="@Url.Action("Index", "Roles")">
                <i class="bi bi-diagram-2"></i>
                <span>Roles</span>
            </a>
        </li><!-- End Products Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="@Url.Action("Index", "Users")">
                <i class="bi bi-people"></i>
                <span>Users</span>
            </a>
        </li><!-- End Users Page Nav -->

    </ul>

</aside><!-- End Sidebar-->